:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --accent-button-color: #188CE8;
    --white: #FFFFFF;
    --black: #000000;
    --background-color: #2F303A;
    --background-color-two: #F5F4FA;
    --border-color: #ECECEC;
    --secondery-border-color: #EEEEEE;
    --icon-color: #AFB1B8;
    --icon-two-color: rgba(255, 255, 255, 0.1);
    --gradient-color: rgba(47, 48, 58, 0.4);
    --footer-link-collor: rgba(255, 255, 255, 0.6);
    --img-list-background-color: rgba(47, 48, 58, 0.8);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --modal-close-border-color: rgba(0, 0, 0, 0.1);
    --hover-project-list-color: rgba(33, 150, 243, 0.9);
    --transition-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --modal-input-border-color: rgba(33, 33, 33, 0.2);
    --placeholder-message-color: rgba(117, 117, 117, 0.5);
    --border-subscribe-color: rgba(255, 255, 255, 0.3);
}