.header {
    border-bottom: 1px solid var(--border-color);
}

.logo {
    padding: 16px 0px;
    display: inline-block;
    margin-right: auto;
    @include tablet {
        display: flex;
        margin-right: 0px;
    }

    color: var(--black);

    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    &-span {
        color: var(--accent-color);
    }
}

.main-nav__container {
    margin: 0px;
    display: flex;
    align-items: center;
    max-width: 100%;
    @include desktope{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.menu {
    margin: 0px;
    padding: 0px;
    display: none;
    @include tablet {
        display: flex;
    }
    margin-left: 93px;

    .menu__link {
        position: relative;
        display: inline-block;
        padding-top: 32px;
        padding-bottom: 32px;
        transition: color var(--transition-property);

        color: var(--title-text-color);

        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .menu__item:not(:last-child) {
        margin-right: 50px;
    }

    .menu__link.current {
        color: var(--accent-color);

        &::after {
            content: " ";
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0px;
            bottom: -1px;

            background: #2196F3;
            border-radius: 2px;
        }
    }

}

.contacts {
    display: none;
    margin: 0px;
    padding: 0px;
    margin-left: auto;

    @include tablet {
        display: block;
    }
    @include desktope {
        display: flex;
    }

    .contacts__link {
        display: flex;
        align-items: center;
        transition: color var(--transition-property);

        color: var(--primery-text-color);

        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        text-decoration: none;

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
        @include desktope{
            font-size: 14px;
            line-height: 1.14;
        }
    }

    .contacts__item {
        display: flex;
        align-items: center;

        @include tablet {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        @include desktope {
            &:not(:last-child) {
                margin-right: 50px;
                margin-bottom: 0px;
            }
        }
    }

    .email-text,
    .tel-text {
        margin-left: 10px;
    }

}

.icon {
    fill: currentColor;

}

.icon-tell{
    @include desktope{
        height: 16px;
    }
}

.icon-email {
    @include desktope {
        width: 16px;
        height: 12px;
    }
}


.mob{
    z-index: 5;
    @include tablet{
        display: none;
    }
}

.mob-open,
.mob-close{
    background-color: transparent;
    border: none;
}

.mob-close {
    display: block;
    margin-left: auto;
    margin-top: 10px;
    transition: color var(--transition-property);

    &:hover{
        color: var(--accent-color);
    }
}

.mob-open{
    @include tablet {
        display: none;
    }
    transition: color var(--transition-property);

    &:hover {
        color: var(--accent-color);
    }
}

.mob-open-icon{
    fill: currentColor;
}

.mob-close-icon{
    fill: currentColor;
}

.mob{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    >.container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-left: 32px;
    }
}

.mob-menu{
    list-style: none;
    margin: 0px;
    padding: 0px;
    .mob-menu__item:not(:last-child){
        padding-bottom: 32px;
    }
    .mob-menu__link{
        color: var(--title-text-color);
        transition: color var(--transition-property);
    
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        text-decoration: none;

        &.current{
            color: var(--accent-color);
        }

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
}

.mob-contacts{
    list-style: none;
    margin: 0;
    padding: 0;   
    padding-bottom: 64px;
    .tel-text{
        color: var(--accent-color);
    }
    .mob-contacts__item:not(:last-child){
        padding-bottom: 32px;
    }
    .mob-contacts__link{
        text-decoration: none;
        transition: color var(--transition-property);
        
        color: var(--primery-text-color);
    
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
}

.mob-social{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 48px;

    .mob-social__item{
        position: relative;

        &:not(:last-child)::before {
            content: " ";
            position: absolute;
            width: 2px;
            height: 22px;
            top: 0;
            right: 10px;
    
            background: var(--modal-input-border-color);
            border-radius: 1px;
        }
    }
    .mob-social__link{
        color: var(--accent-color);

        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        text-decoration: none;
    }
    .mob-social__item:not(:last-child){
        padding-right: 20px;
    }
}

.exit{
    @include tablet{
        display: none;
    }
}